*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #F2F2F0;
}

header.active {
  background-color: #3A7560;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

#logo.active {
  color: #F2F2F0;
}

nav h4 {
  margin-left: 30px;
  color: #4E9C81;
  font-size: 2rem;
  cursor: pointer;
}

.tengah {
  display: none;
  width: 50px;
}

.bg-sidebar {
  top: 70px;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .1);
  transition: .3s;
  visibility: hidden;
  z-index: -1;
}

.bg-sidebar.active {
  right: 0;
  visibility: visible;
  display: block;
}

nav ul {
  display: flex;
  position: relative;
  margin-right: 30px;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  font-weight: 600;
  color: #111;
}

#list.active {
  color: #F2F2F0;
}

label {
  position: absolute;
  left: -15px;
  width: 55px;
  height: 26px;
  background-color: #3A7560;
  border-radius: 20px;
  cursor: pointer;
}

label:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 5px;
  top: 4px;
  border-radius: 50%;
  background-color: #F2F2F0;
  transition: .4s;
}

label.active:before {
  left: 32px;
  background-color: #3A7560;
}

label.active {
  background-color: #F2F2F0;
}

.label {
  margin-right: 60px;
}

.burger {
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 3px 0;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #F2F2F0;
  transition: all .3s ease;
}

.hero {
  display: flex;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.desc h1 {
  font-size: 2.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #111;
  cursor: default;
}

.desc h1.active {
  color: #F2F2F0;
}

.desc p {
  margin-top: 10px;
  width: 75%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #111;
  cursor: default;
}

.desc p.active {
  color: #F2F2F0;
}

.desc button {
  margin-top: 14px;
  padding: 5px 15px;
  border: none;
  background-color: #4E9C81;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.desc button.active {
  color: #4E9C81;
  background-color: #F2F2F0;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #3A7560;
}

section.active {
  background-color: #F2F2F0;
}

section h1 {
  margin-bottom: 25px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: #F2F2F0;
}

section h1.active {
  color: #3A7560;
}


.cards {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.card {
  width: 250px;
  height: 200px;
  background-color: #F2F2F0;
  border-radius: 4px 4px 0 0;
}

.card.active {
  background-color: #111;
}

.card img {
  width: 250px;
  border-radius: 4px 4px 0 0;
}

.card p {
  font-weight: 700;
  text-align: center;
}

.card p.active {
  color: #F2F2F0;
}

.slider {
  display: none;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.btn {
  display: none;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
}

.btn button {
  margin-right: 10px;
  padding: 5px 15px;
  border: none;
  background-color: #F2F2F0;
  border-radius: 2px;
  color: #4E9C81;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.btn button.active {
  background-color: #3A7560;
  color: #F2F2F0;
}


.about {
  width: 100%;
  height: 90vh;
  background-color: #F2F2F0;
}

.about.active {
  background-color: #111;
}

.about h1 {
  margin-bottom: 120px;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.about h1.active {
  color: #F2F2F0;
}

.container {
  display: flex;
  width: 100%;
  height: 70vh;
}

.container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.container h2.active {
  color: #F2F2F0;
}

.garis {
  width: 4px;
  height: 232px;
  background-color: #111;
}

.garis.active {
  background-color: #F2F2F0;
}

.content {
  width: 75%;
}

.content p {
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.content p.active {
  color: #F2F2F0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #111;
}

footer.active {
  background-color: #F2F2F0;
}

footer h3,
i {
  color: #F2F2F0;
}

footer h3 {
  margin-left: 30px;
  font-weight: 600;
}

footer .sosmed {
  margin-right: 30px;
}

footer i {
  padding-left: 40px;
  font-size: 2rem;
}

footer i.active {
  color: #111;
}

footer h3.active {
  color: #111;
}

.lock-scroll {
  overflow-y: hidden;
}


@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    background: #4E9C81;
    justify-content: space-between;
    position: fixed;
  }

  label {
    left: 45px;
  }

  .bg-sidebar.active {
    right: 0;
    visibility: visible;
    display: block;
  }

  .tengah {
    display: block;
  }

  .burger {
    display: block;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    margin-bottom: 7px;
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav ul {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: 500px;
    background: #4E9C81;
    transition: all ease .3s;
  }

  ul.active {
    left: 85px;
  }

  #logo {
    color: #F2F2F0;
  }

  nav ul li {
    padding: 30px 0;
  }

  nav ul li a {
    color: #F2F2F0;
    padding-right: 60px;
  }

  .hero {
    margin: 0;
    flex-direction: column-reverse;
  }

  .hero img {

    margin-top: 100px;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .desc h1 {
    margin-top: 25px;
    font-size: 1.2rem;
    text-align: center;
  }

  .desc p {
    width: 100%;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
  }

  .desc button {
    padding: 9px 120px;
    border-radius: 5px;
  }

  .cards {
    display: none;
  }

  .slider {
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: -1;
  }

  .slides {
    padding-left: 25px;
  }

  .btn {
    display: flex;
  }

  .card {
    margin: 0 0 0 41px;
  }

  section {
    padding-top: 190px;
    height: 100vh;
  }

  .about h1 {
    margin-bottom: 50px;
  }

  .container {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content {
    margin-bottom: 10px;
  }

  .content p {
    text-align: justify;
    font-size: 15px;
  }

  .garis {
    display: none;
  }

  footer i {
    font-size: 1rem;
    padding-left: 10px;
  }
}